@font-face {
  font-family: 'Futura PT Book';
  src: url("../fonts/FuturaPT/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT Heavy';
  src: url("../fonts/FuturaPT/FuturaPT-Heavy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
